<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: red;
}

p {
	color: white;
    text-align: left;
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>


<p>White writing on a red background.</p>

</body>
</html>
